<h2>新規ジャンル作成</h2>

<div class="mt-2">
  
  <%= form_with model: genre, local: true do |f| %>

  <div>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name %>
    <%= f.submit '作成', class: "btn btn-secondary"  %>
  </div>
  
  <% end %>

</div>