<h2>ジャンルランキング</h2>


<table class="table">
  <thead>
    <th>順位</th>
    <th>ジャンル名</th>
    <th>お気に入り</th>
  </thead>
  <tbody>
    <% genre_ranks.each.with_index(1) do |genre, i| %>
      <tr>
        <td>
          第<%= i %>位
        </td>
        <td>
          <%= link_to genre_path(genre.id) do %>
            <%= genre.name %>
          <% end %>
        </td>
        <td>
          <%= genre.favorite_genres.count %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>

