<h2>新規投稿フォーム</h2>

<div>

  <%= form_with model: message, url: room_messages_path(room.id), local: true do |f| %>

  <div>
    <%= f.text_area :words %>
  </div>

  <div>
    <%= f.attachment_field :post_image %>
  </div>

  <div class="mt-2">
    <%= f.submit '投稿', class: "btn btn-secondary" %>
  </div>

  <% end %>

</div>
