<div class="container">

  <div class="row mt-5">

    <h1>未読コメント一覧</h1>

  </div>

  <div class="mt-5">

    <div class="col-8">
      
      <% @messages.each do |message| %>
        <% no_read_comment = false %>
        <% message.comments.each do |comment| %>
          <% if comment.is_read == false %>
            <%= render 'message', message: comment.message %>
            <% no_read_comment = true %>
          <% end %>
          <% if no_read_comment == true %>
            <% message.comments.each do |comment| %>
              <% if comment.is_read == false %>
                <%= render 'comments/comment', comment: comment %>
              <% end %>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

</div>

<% if false %>
未読コメント一覧の実装方法
1.current_userの投稿を一つずつ参照
2.未読コメントフラグを作る
3.
<% end %>
