<div class="container">
  
  <div class="row mt-5">

    <h1>タイムライン</h1>
    
  </div>
  
  <div class="mt-5">
    
    <div class="col-8">
      <div class="card-list-container">
        <% @messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
    </div>
    
  </div>

</div>