<% if comment.errors.any? %>
  <div class="alert">
    <h4>
      <%= comment.errors.count %> errors occured
    </h4>
    <h6>
      <% comment.errors.full_messages.each do |full_message| %>
        <li>
          <%= full_message %>
        </li>
      <% end %>
    </h6>
  </div>
<% end %>