<% if user.errors.any? %>
  <div>
    <%= user.errors.count %> errors occured
  </div>
  <div>
    <% user.errors.full_messages.each do |full_message| %>
      <ul>
        <%= full_message %>
      </ul>
    <% end %>
  </div>
<% end %>
