<% if user.errors.any? %>
  <div class=alert>
    <h4>
      <%= user.errors.count %> errors occured
    <h6>
      <% user.errors.full_messages.each do |full_message| %>
        <li>
          <%= full_message %>
        </li>
      <% end %>
    </h6>
  </div>
<% end %>
