<div class="container">

  <div class="row p-2">
    <div class="col-12">
      <h1 class="text-center">趣味の間</h1>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12">
      <p class="text-center">
        このサイトは趣味について話すサイトです。<br>
        会員登録したらまずはお気に入りのジャンルを見つけて、投稿してみましょう。
      </p>
    </div>
  </div>
  
  <% if user_signed_in? %>
  <% else %>
    <div class="row mt-4">
  
        <div class="offset-4 col-2 text-center">
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary" %>
        </div>
  
        <div class="col-2 text-center">
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-success" %>
        </div>
  
    </div>
  <% end %>
  
  <div class="row my-4">
    
    <div class="offset-2 col-4 text-center">
    
      <%= render 'genres/ranks', genre_ranks: @genre_ranks %>
    
    </div>
    
    <div class="col-5 text-center">

      <%= render 'rooms/ranks', room_ranks: @room_ranks %>
      
    </div>
    
  </div>

</div>